// Couleurs
$orange : #ff6600; 
$noir : #000000;
$blanc : #fff;
$gris-clair : #f7f7f7;
$gris-fonce : #2c2c2c;

// Typo
@import url('https://fonts.googleapis.com/css?family=Cabin:400,700|Roboto:400,700');


@import "accueil/header-accueil";
@import "accueil/travaux-accueil";
@import "accueil/competences-accueil";
@import "accueil/propos-accueil";
@import "accueil/contact-accueil";
@import "footer-accueil";
