.header-accueil {
    color: #fff;
    padding: 100px 10px;
    position: relative;

    &:before {
        display: block;
        content: "";
        position: absolute;
        background: rgba(0, 0, 0, 0.55);
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;

    }
    & > * {
        position: relative;
    }
    h1 {
        font-size: rem-calc(40px);
    }
    .separateur-titre {
        width: rem-calc(200px);
        background: $orange;
        border: none;
        height: 2px;
    }
    h2 {
        text-transform: uppercase;
        margin-bottom: 40px;
    }
    p {
        font-size: 17px;

        a {
            color: #fff;
            text-decoration: underline;
        }
    }

    @media screen and (min-width: 640px) { 
        h1 {
            font-size: rem-calc(60px);
        }
        h2 {
            font-size: 30px;
        }
        p {
            font-size: 20px;
        }
     }

     @media screen and (min-width: 960px) {
        padding: 200px 0;
     }
}