.header-accueil {
    color: #fff;
    padding: 100px 10px;
    position: relative;

    &:before {
        display: block;
        content: "";
        position: absolute;
        background: rgba(0, 0, 0, 0.55);
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;

    }
    & > * {
        position: relative;
    }
    h1 {
        font-size: rem-calc(30px);
        text-transform: uppercase;
    }
    .separateur-titre {
        width: rem-calc(200px);
        background: $orange;
        border: none;
        height: 2px;
    }
}